@import url('https://fonts.googleapis.com/css2?family=Bungee+Tint&family=Cabin:ital,wght@0,400..700;1,400..700&display=swap');

*{
    background-color: #efede8;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "cabin", sans-serif;
}

/* -----------------[ HEADER ]------------------ */

header{
    display: flex;
    flex-direction: column;
}


.topoPagina {
    
    color: white;
    display: flex;
    
    padding: 20px 40px;
    flex-wrap: wrap;
}    
.topoPagina, .elementsLeft, .topoPagina h1{
    background-color: #459a64;
    
}
.topoPagina{
    border: 0 solid transparent;
}



.elementsLeft{
    display: flex;
    justify-content: center;
    align-items: center;
}
.elementsLeft h1{
    font-size: 40px;
    text-align:center ;
    margin-right: 1.9rem;
}
.elementsLeft .tags {
    background-color: transparent;
}
.tags a {
    background-color: transparent;
    color: #000000;
}
.elementsLeft p{
    font-size: 14px;
}



.conteiner{
    background-color: transparent;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 10px;

    font-size: 12px;
    margin-top: 8px;
}
.conteiner span{
    background-color: #b8b5b5;
    padding: 4px 18px;
    border-radius: 4px; 
    margin: 5px;
    font-size: 16px;

}
.conteiner span img{
    position: relative;
    top: 5px;
    background-color: transparent;
    width: 18px;
    height: 18px;
}

 

/* ---------------------------[ MAIN ]----------------------- */
/*------------------[ SECTOION PAGAPRESENTAÇÃO ]---------------*/

.PagApresentation{
    display: flex;
    justify-content: space-between;
    margin: 0.7rem;
}
.PagApresentation .textDescription{
    height: auto;
    border-radius: 20px;
    padding: 1rem;
    margin: 3rem 0rem 4rem 4rem ;
    background-color: #bae9d0;
}
.textDescription h1{
    font-size: 40px;
    background-color: transparent;
    margin-left: 1rem;
}
.textDescription h3{
    font-size: 1.3rem;
    margin: 1rem 0 0 1rem ;
    background-color: transparent;
}
.textDescription p{
    font-size: 20px;
    background-color: transparent;
    margin: 0 9rem 1rem 1rem;
}



.perfilImage {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.perfilImage button{
    border-radius: 5px;
    width: 1rem;
    height: 1rem;
    margin: 1rem 0 0 1rem ;

    position: relative;
    bottom: 86px;
    right: 7px;
    transition: background-color 0.3s ease;
}
.perfilImage button:hover{
    background-color: #7c7c7c;
    cursor: pointer;
}



.carrosselFotos .foto{
    display: none;
    width: 300px;
    height: 420px;

    border-radius: 20px;
    margin-left: 3rem;
    margin: 3rem 5rem ; 
}
.foto.ativa{
    display: block;
}



.overOculto{
    display: none;
}

.overlayImg{
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
}
.overlayImg .overButtons button{
    border-radius: 5px;
    width: 1rem;
    height: 1rem;
    margin: 1rem 0 0 1rem ;

    position: relative;
    bottom: 70px;
    left: 8rem;
    right: 0px;
    transition: background-color 0.3s ease;
}
.overButtons button:hover{
    background-color: #7c7c7c;
    cursor: pointer;
}


.conteudoOver, .overButtons, .carrosselFotos{
    background-color: transparent;
}
.conteudoOver .fotoOver{
    border-radius: 20px;
    display: none;
    width: 415px;
    height: 580px;
}
.fotoOver.ativa{
    display: block;
}
.closeOver{
    position: relative;
    top: 2.9rem;
    left: 1rem;

    border-radius: 100px;
    padding: 0.5rem;
    
    transition: background-color 0.3s ease;
}
.closeOver:hover{
    background-color: #7c7c7c;
    cursor: pointer;
    
}



.divisoria{
    border: none;
    height: 2px;
    background-color: rgb(210, 202, 202);
    margin: 40px 0;
}



/*------------------[ SECTION INFORMAÇÕES ]---------------*/

.PagInfos{
    display: flex;
    justify-content: center;
    
}



.cardInfos{
    width: 50rem;
    background-color: #63ba88;
    border-radius: 30px;
    padding: 2rem;
    margin: 2rem;

    font-size: 2rem;

}
.cardInfos img{
    margin: 0;
    clip-path: circle(40%);
    
    width: 100px;
    height: 140px;
}
.cardInfos h3, .cardInfos p{
    background-color: transparent;
    margin: 0.7rem 0 0.1rem 1rem;

}
.cardInfos .topoCard{
    display: flex;
    align-items: center;
    background-color: transparent;
    margin: 0.7rem 0 0 1rem;

}
.cardInfos strong{
    background-color: transparent;
    color: #424242;
    
}
.cardInfos .topoCard{
    display: flex;
    align-items: self-start;

}



.cabecalhoCard{
    background-color: transparent;
    display: flex;
    flex-direction: column;
    

}
.cabecalhoCard div{
    background-color: transparent;
    display: flex;

}


.adicionaisCard{
    background-color: transparent;
    font-size: 1.5rem;
}


/*------------------[ SECTION UC's ]---------------*/

.pagUcs {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    padding: 3rem; 

} 



.tituloPaginaUcs{
    display: flex;
    justify-content: space-between;
    margin: 2rem 2rem 0.1rem 2rem;

}
.tituloPaginaUcs h2  {
    font-size: 45px; 
    background-color: transparent; 

}
.tituloPaginaUcs button {
    margin-right: 4rem;
    padding: 1rem;
    border-radius: 5px;
    border: transparent;
    background-color: #459a64;
    color: #aaefca;
    font-size: 20px;

    transition: background-color 0.3s ease;    
}
.tituloPaginaUcs strong{
    background-color: transparent;
}
.tituloPaginaUcs button:hover{
    background-color: #555;

}



.listaUcs{
    display: flex;
    justify-content: flex-start;
    
    background-color: #63ba88;
    margin: 2rem 0 2rem 0;  
    padding: 1rem 1rem;
    
    overflow-x: auto;
    max-width: 100%;
    box-sizing: border-box;
    scroll-snap-type: x mandatory; 

}




.infoUc{
    width: 17rem;
    height: 20rem;
    display: flex;
    flex-direction: column;
    align-items: center; 

    margin: 2rem 2rem 2rem 2rem;
    border-radius: 5px;
    padding: 0; 

    transition: 0.3s ease; /* esse*/
}
.infoUc:hover{ 
    transform: scale(1.13);  
    cursor: pointer;   
}
.infoUc .descricaoUC{
    text-align: center;
    margin: 0.5rem 1rem;
    position: relative;
    z-index: 1;
}
.infoUc, .infoUc h3 , .infoUc p, .botoesPosicao{
    background-color: #f0f8ff;
}
 .infoUc img{
    background-color: white;
    width: 17rem;  
    height: 200px;
    border-radius: 5px 5px 0 0;
    margin: 0; 
    object-fit: cover;
}
.infoUc .botoesPosicao button{
    width: 4rem;
    border: transparent;
    border-radius: 5px;
    padding: 0.3rem;
    margin: 0 1rem 0 1rem;

    transition: 0.3s ease;
}
.botoesPosicao button:hover{
    background-color: #a9a7a7;
}



.formUc {
    width: 17rem;
    height: 23rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    background-color:#f0f8ff;
    margin: 2rem 2rem 2rem 2rem;
    border-radius: 5px;  
} 
.formUc form{
    width: 17rem;
    height: 10rem;
    background-color: #f0f8ff;
    margin-top: 2rem;
    padding: 1rem;
}
.formUc fieldset{
    background-color: #f0f8ff;
    border: 0px ;
    display: flex;  
}
.formUc label {
    background-color: #f0f8ff;
    margin: 10px 0 10px 0 ; 
    font-size: 25px;
}
.formUc input, input[type="data"]{ 
    font-size: 18px;
    border: 2px;
    border-bottom: 2px solid #555;
    background-color: #f0f8ff; 
}
.formUc input::placeholder{
    color: #bdbfc2;
}
.formUc button{
    background-color: #8ccea9;
    color: aliceblue;
    border: 0px ;
    border-radius: 5px;
    padding: 0.5rem;
    margin: 1rem;
    
    transition: background-color 0.3s ease;
}
.formUc button:hover{
    background-color: #555;
    cursor: pointer;
}


fieldset{
    display: flex;
    flex-direction: column;
}


/*-------------[ SECTION de informaçoes pessoais ]---------------*/

.pagInfosPessuais{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.pagInfosPessuais h3{
    font-size: 45px; 
    width: 100%;
    margin-left: 3rem;
}

.descricaoPessoal{
    background-color: #8ccea9;
    border-radius: 20px;
    width: 70rem;
    height: auto;
    padding: 1rem;
    margin: 2rem 8rem 2rem 5rem;
    
}
.descricaoPessoal p{
    border-left: 4px solid  #b48a34;
    padding: 0.5rem;
    font-size: 20px;
    background-color: transparent;
    margin-bottom: 1rem;
}
.descricaoPessoal button{
    
    width: 9rem;
    height: 2rem;

}

.campoEditDesc{
    border-left: 4px solid  #b48a34;
    background-color: transparent;
    font-size: 20px;
    padding: 0.5rem;
    margin: 0 3rem 1rem 1rem;
    width: 65rem;
    display: flex;
    flex-direction: column;
}
.descricaoPessoal button{
    margin-left: 1rem;
    background-color: #459a64;
    color: aliceblue;
    border: 0px ;
    border-radius: 5px;
    padding: 0.5rem;
    margin: 1rem;
    
    transition: background-color 0.3s ease;
}
.descricaoPessoal button:hover{
    background-color: #555;
    cursor: pointer;
}



/*------------------[ SECTION das validações ]---------------*/

.BlocosValidacoes{
    margin: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.Pagvalidacoes h2{
    font-size: 45px; 
    margin-left: 2rem;
}



.BlocoCPF {
    background-color: #8ccea9;
    border-radius: 10px;
    margin: 1rem;
    width: 40rem;
    height: 11rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.BlocoCPF p{
    font-size: 25px;
    background-color: transparent;
    margin: 1rem;
}
.BlocoCPF input{
    background-color: #e6e6e6;
    border: 3px solid transparent;
    width: 20rem;
    height: 2.5rem;
    margin-bottom: 1rem;
}
.BlocoCPF input.certo{
    background-color: #95ff95;   
}
.BlocoCPF input.errado{
    background-color: #e4a5a5;
}
.BlocoCPF button{
    width: 5rem;
    background-color: #459a64;
    color: aliceblue;
    border: solid transparent;
    border-radius: 5px;
    padding: 0.5rem;

    transition: background-color 0.3s ease;
}
.BlocoCPF button:hover{
    background-color: #555;
    cursor: pointer;
}



.BlocoEmail {
    background-color: #8ccea9;
    border-radius: 10px;
    margin: 1rem;
    width: 40rem;
    height: 11rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.BlocoEmail p{
    font-size: 25px;
    background-color: transparent;
    margin: 1rem;
}
.BlocoEmail input{
    background-color: #e6e6e6;
    border: solid transparent;
    width: 20rem;
    height: 2.5rem;
    margin-bottom: 1rem;
}
.BlocoEmail input.certo{
    background-color: #95ff95;   
}
.BlocoEmail input.errado{
    background-color: #e4a5a5;   
}
.BlocoEmail button{
    width: 5rem;
    background-color: #459a64;
    color: aliceblue;
    border: solid transparent;
    border-radius: 5px;
    padding: 0.5rem;

    transition: background-color 0.3s ease;
}
.BlocoEmail button:hover{
    background-color: #555;
    cursor: pointer;
}

.overlayMsg{
    display: none;
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);

    justify-content: center;
    align-items: center;
}
.overlayMsg .conteudo{
    background-color: #e8ce94;
    border-radius: 10px;
    padding: 3rem;
    text-align: center;
}
.conteudo p{
    background-color: transparent;
    font-size: 24px;
}
.conteudo button{
    border-radius: 5px ;
    border-color: transparent;
    margin-top: 1rem;
    width: 5rem;
    font-size: 18px;

    transition: background-color 0.3s ease;
}
.conteudo button:hover{
    background-color: #424242;
    color: #e6e6e6;
}

